<form [formGroup]="loginForm" autocomplete="off">
  <div class="form-group">
    <label for="exampleInputEmail1">Usuario:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="user" [ngClass]="{'is-invalid': loginForm.controls.user.invalid}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" [ngClass]="{'is-invalid': loginForm.controls.password.invalid}">
    <small *ngIf="loginForm.controls.password.invalid" id="emailHelp" class="form-text text-muted">Debe contener más de 8 caracteres</small>
  </div>
  <div class="form-group form-check">
    <app-button nameEvent="Ingresar" (onEvent)="login()" [fullWidth]="true" [disabled]="loginForm.invalid"></app-button>
  </div>
</form>
